*{
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #1B1B1B;
}

body {
  background-color: #F5F4F0;
}

#container {
  width: 1120px;
  padding: 88px 80px 65px;
  margin: auto;
}


h4{
  font-weight: bold;
  text-transform: uppercase;
  color: #E1624F;
}

h1{
  padding-top: 8px;
  font-size: 36px;
  font-weight: bold;
}

#container img {
  border-radius: 28px;
  padding-bottom: 20px;
}

.subtitle{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

main {
  padding-top: 64px;
  margin-bottom: 40px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

h2{
  padding-top: 2px;
  padding-bottom: 8px;
  font-size: 32px;
}

h3{
  font-size: 28px;
  padding-bottom: 4px;
}

.primary-text {
  padding-bottom: 64px;
}

.pre-list, ul{
  font-weight: bold;
}

ul {
  padding-bottom: 48px;
  padding-left: 24px;
}

li::marker {
  color: #1B1B1B;
}

.history{
  color: #0C51A7;
}

.casal {
  color: #591B98;
}

.family {
  color: #E5245E;
}

.orçamento {
  color: #E95E10;
}

.last-list{
  padding-bottom: 40px;
}

.last-description{
  text-align: center;
}

footer {
  text-align: center;
  vertical-align: middle;
}