*{
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: #F5F4F0;
}

#container {
  width: 1120px;
  padding: 88px 80px 65px;
  margin: auto;
}

h4{
  font-weight: bold;
}

h1{
  font-size: 36px;
  font-weight: bold;
}
h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

.subtitle{
  text-align: center;
}

footer {
  text-align: center;
  vertical-align: middle;
}